<div class="row">
    <div class="col-6 col-md-6 text-end">Dedlajn :</div>
    <div class="col-6 col-md-6">@subject.ExamDate.ToString("MM/dd")</div>
</div>
<div class="row">
    <div class="col-6 col-md-6 text-end">Żeby się naumiejać :</div>
    <div class="col-6 col-md-6">@PrintHelper.PrintTime(subject.TimeForSubject)</div>
</div>
<div class="row">
    <div class="col-6 col-md-6 text-end">Naumiejane :</div>
    <div class="col-6 col-md-6">@PrintHelper.PrintTime(subject.TimeUsed)</div>
</div>
<div class="row">
    <div class="col-6 col-md-6 text-end">Do naumiejania  :</div>
    <div class="col-6 col-md-6">@PrintHelper.PrintTime(subject.TimeForSubject.Subtract(subject.TimeUsed))</div>
</div>
<div class="row">
    <table>
        <tr>
            <th>Start</th>
            <th>Czas</th>
        </tr>
        @{
            foreach (var learning in subject.Learnings ?? new List<Subjects.Learning>())
            {
                <tr>
                    <td>@learning.StartDate</td>
                    <td>@PrintHelper.PrintLearningTime(learning.EndDate.TimeOfDay.Subtract(learning.StartDate.TimeOfDay))</td>
                </tr>
            }
        }
    </table>
</div>

<button class="btn btn-primary" @onclick="DeleteOnClick">Usuń</button>

@code {
    [Parameter] public Subjects.Subject subject { get; set; }
    [Parameter] public Subjects.SubjectAction Delete { get; set; }


    private async Task DeleteOnClick(EventArgs args)
    {
        await Delete(subject);
    }
}